<% title "Home" %>
<%= render 'shared/header' %> 

<h2>My Codepens</h2>
<div class="c-my-codepens">
  <div class="c-my-codepens__grid">
    <p data-theme-id="dark" data-slug-hash="qQZENY" data-default-tab="result" data-user="dameon79" data-pen-title="Javascript Calculator" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/dameon79/pen/qQZENY/">Javascript Calculator</a> by Dameon Sumpton (<a href="https://codepen.io/dameon79">@dameon79</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <p data-theme-id="dark" data-slug-hash="QZYgmE" data-default-tab="css,result" data-user="dameon79" data-pen-title="Etch a Sketch" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/dameon79/pen/QZYgmE/">Etch a Sketch</a> by Dameon Sumpton (<a href="https://codepen.io/dameon79">@dameon79</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <p data-theme-id="dark" data-slug-hash="JeXdgG" data-default-tab="result" data-user="dameon79" data-pen-title="Rock, Paper Scissors" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/dameon79/pen/JeXdgG/">Rock, Paper Scissors</a> by Dameon Sumpton (<a href="https://codepen.io/dameon79">@dameon79</a>) on <a href="https://codepen.io">CodePen</a>.</p>  
  </div>
  <%= link_to 'View More Pens', pages_projects_path, class: "c-my-codepens__all-pens" %>
</div>

<h2>Blog Articles</h2>
<div class="c-articles-container"> 
  <% @articles.each_with_index do |article, index| %> 
    <article class="c-articles-container__article"> 
      <h3 class="c-articles-container__article-title"><%= article.title %></h3>
      <img class="c-articles-container__article-image" src="<%= rails_blob_path(article.image) %>">
      <%= link_to "", article_path(article), class: "c-articles-container__article-link" %>
    </article>
  <% end %>
  <%= link_to 'View all Articles', articles_path, class: "c-articles-container__all-articles" %>
</div>
<<<<<<< HEAD
<%= link_to 'View all Articles', articles_path, class: "c-articles-container__all-articles" %>
=======
>>>>>>> 2d775e39f6b5b0c54eafccfb9187602f42ef58f6
