
<%= form_for [:admin, @article] do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2 class="alert alert-primary">
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li class="alert alert-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control", placeholder: "Article Title" %>
  </div>
  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_area :text, rows: 12, class: "form-control", placeholder: "Please write your Article" %>
    <%= form.label :image %>
    <%= form.file_field :image, direct_upload: true %>
  </div>
  <p>
    <%= form.submit class:"btn btn-success" %>
  </p>
<% end %>
