<% title "All Articles" %>
<%= render 'shared/nav-bar' %>
<%= render 'shared/nav' %> 

<h2 class="c-articles-container__heading">Blog Articles</h2>
<div class="c-articles-container"> 
  <% @articles.each_with_index do |article, index| %> 
    <article class="c-articles-container__article"> 
      <h3 class="c-articles-container__article-title"><%= article.title %></h3>
      <img class="c-articles-container__article-image" src="<%= rails_blob_path(article.image) %>">
      <%= link_to "", article_path(article), class: "c-articles-container__article-link" %>
    </article>
  <% end %>
</div>
<%= raw pagy_nav(@pagy) %>
