<%= render 'header' %> 

<div class="c-aboutme">
  <h2>About Me</h2>
  <div class="c-aboutme__skills-container">
    <%= image_tag "HTML5.png", class: "c-aboutme__skills-image" %>
    <%= image_tag "CSS3.png", class: "c-aboutme__skills-image" %> 
    <%= image_tag "ES6.svg", class: "c-aboutme__skills-image" %>
    <%= image_tag "React.png", class: "c-aboutme__skills-image" %>
    <%= image_tag "ruby.png", class: "c-aboutme__skills-image c-skills--ruby" %>
    <%= image_tag "Rails1.png", class: "c-aboutme__skills-image" %>
    <%= image_tag "nodejs2.png", class: "c-aboutme__skills-image c-skills--node" %>
  </div>
</div>

<h2>My Codepens</h2>
<div class="c-my-codepens">
  <div class="c-my-codepens__grid">
    <p data-height="265" data-theme-id="dark" data-slug-hash="KQyVQe" data-default-tab="css,result" data-user="dameon79" data-pen-title="Android Logo" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/dameon79/pen/KQyVQe/">Android Logo</a> by Dameon Sumpton (<a href="https://codepen.io/dameon79">@dameon79</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  </div>
</div>


<h2>Blog Articles</h2>
<div class="c-articles-container">  
  <% @article.each_with_index do |article, index| %>
    <article class="c-articles-container__article">
      <h3 class="c-articles-container__article-title"> <%= article.title %></h3>
      <%= link_to "", article_path(article), class: "c-articles-container__article-link" %>
    </article>
  <% end %>
</div>
