<%= render 'shared/nav-bar' %>

<h1 class="c-article__heading">
  <%= @article.title %>
</h1>

<div class="c-article__container">
  <div class="c-articledata">
    <div class="c-articledata__avatar"></div>
    <h4 class="c-articledata__author">Dameon Sumpton</h4>
    <h5 class="c-articledata__date">Published <%= @article.updated_at.strftime("%B %d %Y") %></h5>
  </div>
  
  <article class="c-article__body">
    <img class="c-article__image" src="<%= rails_blob_path(@article.image) %>">
    <%= markdown(@article.text) %>
  </article>

  <div class="c-comments-container">
    <h3 class="c-comments-container__comment-counter"><%= pluralize(@article.comments.count, 'comment') %></h3>
    <% if logged_in? %>
      <%= render 'comments/form' %>
    <% else %> 
      <a class="c-comments-container__login" href="/auth/auth0">Login to comment</a>
    <% end %>

    <% @article.comments.each do |comment| %>
      <div class="c-comments-container__comment">
        <img class=c-comments-container__comment-avatar src="<%= comment.avatar %>"/>
        <h3 class="c-comments-container__comment-name"><%= comment.name %></h3>
        <h3 class="c-comments-container__comment-body"><%= markdown(comment.body) %></h3>
        <h3 class="c-comments-container__comment-created">Posted <%= time_ago_in_words(comment.updated_at) %> ago</h3>
      </div>
    <% end %>
  </div>
</div>
