<footer class="c-footer">
  <nav class="c-footer__nav">
    <%=link_to "Home", root_path, class: "c-footer__navitem" %>  
    <%=link_to "About Me", pages_about_path, class: "c-footer__navitem" %>
    <%=link_to "My Projects", pages_projects_path, class: "c-footer__navitem" %>
    <%=link_to "Blog Articles", articles_path, class: "c-footer__navitem" %>
    <%=link_to "Contact", pages_contact_path, class: "c-footer__navitem u-white-border" %>
  </nav>

  <nav class="c-footer__socialmedia">
    <a href="https://github.com/Dameon79">
      <%= image_tag "Github2.png", class:"c-socialmedialogos c-socialmedialogos__git" %>
    </a>
    <a href="https://procoders.co.uk/?gclid=CjwKCAjwrNjcBRA3EiwAIIOvqwymZaA5y1EhNZgzLAr62QD6nkk3omRCfR4kU-2Xnpd9NrU9GGcknRoC-XkQAvD_BwE">
      <%= image_tag "procoders2.jpg", class:"c-socialmedialogos" %>
    </a>
    <a href="https://www.linkedin.com/in/dameon-sumpton-407503ab/">
      <%= image_tag "linkedin1.png", class:"c-socialmedialogos" %>
    </a>
    <a href="https://twitter.com/dameon_sumpton">
      <%= image_tag "Twitter1.png", class:"c-socialmedialogos" %>
    </a>
  </nav>
  <h6 class="c-footer__copyright">&copy; Dameon Sumpton <%= Time.current.year %></h6>
</footer>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>