<!DOCTYPE html>
<html>
  <head>
    <title> <%= content_for?(:title) ? yield(:title) : 'Personal Profile' %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <%= yield %>
    <% if flash.notice %>
      <p class="flash"><%= flash.notice %></p>
    <% end %>
    <%= render 'shared/footer' %>
  </body>
</html>
